body {
    padding: 0px;
    border: 0px;
    margin: 0px;
    /* background-image: url("./images/chalkboard-loginpage.jpg"); */
    background-image: url("../images/wall.jpg");
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.center {
    background-image: url("../images/chalkboard2.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 1vw; */
    width: 85vw;
    height: 52.25vw;
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#name {
    width: 35vw;
    height: 10vw;
}

#login-with {
    width: 15vw;
    height: 10vw;
}

/* #guest {
    align-self: flex-end;
  } */

.methodIcon {
    width: 8vw;
    height: 8vw;
    transition: transform .2s;
    margin-left: 3vw;
    margin-right: 3vw;
}

.methodIcon:focus {
    outline: none;
}

.methodIcon:hover {
    transform: scale(1.3);
}

.modal-content h5 {
    text-align: center;
}

.modal-content button {
    text-align: right;
}

.modal-content button span {
    padding: 5px;
}

.modal-content button:focus {
    outline: none;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .modal-body input {

} */

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}